@charset "utf-8";

$mainActive: #000;
$main: rgba($mainActive, .8);
$minor: rgba($mainActive, .6);
$weak: rgba($mainActive, .5);
$border: rgba($mainActive, .2);

$f: #fff;
$mainF: rgba($f, .8);
$minorF: rgba($f, .6);
$weakF: rgba($f, .5);
$borderF: rgba($f, .2);

$blue: #195AFF;
$blue1: #2C68FF;
$blue2: #336DFF;

$time: .2s;
$time2: .4s;

